/* For the 'Footer' */
.main-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex-grow: 1;
}

/* For the 'Track Order' */
.track-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.form-container {
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* For the 'Help' Section */
.help-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Heading Text */
.title {
    text-align: center;
    color: #1d4ed8; 
    font-weight: bold;
    margin-bottom: 1rem;
}

/* Sub Heading Text */
/* ADD HERE */

/* Product Image Card */
/* ADD HERE */

.btn:hover {
    transform: scale(1.05);
}

/* For the 'My Purchases' */
.actionBtn-container {
    gap: 10px;
}

/* For the Homepage 'Review' section */
.testimonials-section img {
    border: 2px solid #ddd;
    padding: 5px;
    background-color: #fff;
}
.testimonials-section .card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
.testimonials-section .card:hover {
    transform: scale(1.05);
}

/* IDK wat this */
.section-box {
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    margin-bottom: 15px;
}

/* .purchase-card {
    border-radius: 15px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.status-pending {
    color: #ff8800;
    font-weight: bold;
}

.status-successful {
    color: #28a745;
    font-weight: bold;
} */

/* For the 'All Products' Category */
.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* I think still for the 'All Product' Category */
.accordion-button {
    flex-grow: 1;
}

.status-badge {
    font-size: 0.85rem;
}

/* For the User 'My Purchases' */
.navbar-status {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    font-size: medium;
}

.status-bg {
    color: white;
}

/* For the 'Contact Us' */
