.card-hover:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    cursor: pointer;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-wrapper {
    transition: all 0.3s ease;
}

/* .list-group-item.active {
    background-color: #0d6efd;
    border-color: #0d6efd;
    color: white;
} */