<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    {% include "/admin/index.html" %}

    <div class="container my-5">
        <h1 class="text-primary">Dashboard</h1>
        
        <div class="row justify-content-between g-4">
            <!-- Customer Card -->
            <div class="info-box">
                <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span>
  
                <div class="info-box-content">
                  <span class="info-box-text">CPU Traffic</span>
                  <span class="info-box-number">
                    10
                    <small>%</small>
                  </span>
                </div>
                <!-- /.info-box-content -->
              </div>
            <div class="col-2">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Customers</h5>
                        <p class="card-text">{{ customer_count }}</p>
                    </div>
                </div>
            </div>

            <!-- Product Catalogue Card -->
            <div class="col-2">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Product Catalogue</h5>
                        <p class="card-text">{{ product_count }}</p>
                    </div>
                </div>
            </div>

            <!-- Items Sold Card -->
            <div class="col-2">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Items Sold</h5>
                        <p class="card-text">{{ total_item_sold }}</p>
                    </div>
                </div>
            </div>

            <!-- Total Sales Card -->
            <div class="col-2">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Total Sales</h5>
                        <p class="card-text">RM {{ total_payment_amount }}</p>
                    </div>
                </div>
            </div>

            <!-- Reviews Card -->
            <div class="col-2">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Reviews</h5>
                        <p class="card-text">{{ review_count }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-5">
            <h2 class="text-center">Customers Data</h2>
            <canvas id="customerdata"></canvas>
        </div>

        <div class="mb-5">
            <h2 class="text-center">Sale Data</h2>
            <canvas id="saledata"></canvas>
        </div>

        <div class="mb-5">
            <h2 class="text-center">Reviews</h2>
            <canvas id="reviewdata"></canvas>
        </div>

    </div>

    <script>
        const custlabels = {{ custlabels|tojson }};
        const custdata = {{ custdata|tojson }};
    
        const custctx = document.getElementById('customerdata').getContext('2d');
        new Chart(custctx, {
            type: 'line',
            data: {
                labels: custlabels,
                datasets: [{
                    label: 'Customers registered',
                    data: custdata,
                    borderColor: 'rgba(75, 192, 192, 1)',
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderWidth: 2,
                    tension: 0.4,
                }]
            },
            options: {
                responsive: true,
                plugins: {legend: {display: false, position: 'top'}},
                scales: {y: {beginAtZero: true}},
            },
        });
    
        const salelabels = {{ salelabels|tojson }};
        const saledataArray = {{ saledata|tojson }};
    
        const salectx = document.getElementById('saledata').getContext('2d');
        new Chart(salectx, {
            type: 'bar',
            data: {
                labels: salelabels,
                datasets: [{
                    label: 'Products sold',
                    data: saledataArray,
                    borderColor: 'rgba(75, 192, 192, 1)',
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderWidth: 2,
                    tension: 0.4,
                }]
            },
            options: {
                responsive: true,
                plugins: {legend: {display: false, position: 'top'}},
                scales: {y: {beginAtZero: true}},
            },
        });

        const reviewlabels = {{ reviewlabels|tojson }}.map(label => `${label} ★`);
        const reviewdata = {{ reviewdata|tojson }};
    
        const reviewctx = document.getElementById('reviewdata').getContext('2d');
        new Chart(reviewctx, {
            type: 'pie',
            data: {
                labels: reviewlabels,
                datasets: [{
                    label: 'Total review',
                    data: reviewdata,
                    borderColor: 'rgba(75, 192, 192, 1)',
                    backgroundColor: [
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(54, 162, 235, 0.2)'
                    ],
                    borderColor: [
                        'rgba(75, 192, 192, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(54, 162, 235, 1)'
                    ],
                    borderWidth: 2,
                }]
            },
            options: {
                responsive: true,
                plugins: {legend: {display: true, position: 'right'}},
                layout: {padding: 10}
            },
        });
    </script>
</body>
</html>
