<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin - Order</title>
    </head>
    <body>
        {% include "/admin/index.html" %}
        <div class="container my-5">
            <h1 class="text-primary">Orders</h1>
        
            <!-- Search Form -->
             
            <form action="/admin/order" method="get">
                <!-- Search Form -->
                <div class="d-flex w-100 align-items-center my-3">
                    <div class="flex-grow-1 me-2">
                        <input type="text" class="form-control" name="searchOrder" placeholder="Search an order" value="{{ request.args.get('searchOrder', '') }}">
                    </div>
                    <button class="btn btn-outline-primary d-flex align-items-center me-2 px-3" type="submit" name="btnSearch">
                        <i class="bi bi-search me-2"></i> Search
                    </button>
                </div>
            
                <!-- Order Status Buttons Row -->
                <div class="row my-3">
                    <div class="col-sm-9">
                        <form action="/admin/order" method="get" class="d-inline">
                            <div class="me-2">
                                <button type="submit" name="statusOrder" class="btn btn-primary text-light me-1">All</button>
                                <button type="submit" name="statusOrder" value="completed" class="btn btn-success text-light me-1">Completed</button>
                                <button type="submit" name="statusOrder" value="cancelled" class="btn btn-danger text-light me-1">Cancelled</button>
                                <button type="submit" name="statusOrder" value="pending" class="btn btn-secondary text-light me-1">Pending</button>
                                <button type="submit" name="statusOrder" value="processing" class="btn btn-secondary text-light me-1">Processing</button>
                                <button type="submit" name="statusOrder" value="shipped" class="btn btn-secondary text-light me-1">Shipped</button>
                                <button type="submit" name="statusOrder" value="ready" class="btn btn-secondary text-light me-1">Ready to picked up</button>
                            </div>
                        </form>
                    </div>
            
                    <!-- Shipping Method Buttons Row -->
                    <div class="col-sm-3 text-end">
                        <form class="d-inline" action="/admin/order" method="get">
                            <button type="submit" name="method" class="btn btn-primary">All</button>
                            <button type="submit" name="method" value="Pick Up" class="btn btn-outline-primary">Pick Up</button>
                            <button type="submit" name="method" value="Delivery" class="btn btn-outline-primary">Delivery</button>
                        </form>
                    </div>
                </div>
            </form>            
        
            <div class="row">
                {% for order in order %}
                <div class="col-md-6 col-12 mb-3">
                    <div class="card">
                        <div class="card-header">
                            <h6 class="card-title" style="display: flex; justify-content: space-between;">
                                <span>Order ID</span>
                                <span>{{ order.orderID }}</span>
                            </h6>
                        </div>
                        
                        <div class="card-body">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Name:</td>
                                        <td>{{ order.user.firstName }} {{ order.user.lastName }}</td>
                                    </tr>
                                    <tr>
                                        <td>Shipping Address:</td>
                                        <td>{{ order.shippingAddress }}</td>
                                    </tr>
                                    <tr>
                                        <td>Shipping Method:</td>
                                        <td>{{ order.shippingMethod }}</td>
                                    </tr>
                                    <tr>
                                        <td>Date of Order:</td>
                                        <td>{{ order.orderDate }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <hr>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Product Name</th>
                                        <th>Quantity</th>
                                        <th>Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in order.order_items %}
                                    <tr>
                                        <td>{{ item.product.productName }}</td>
                                        <td>{{ item.quantity }}</td>
                                        <td>{{ item.price }}</td>
                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <th colspan="2">Total Amount:</th>
                                        <td>{{ order.totalAmount }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer text-muted" style="display: flex; justify-content: space-between;">
                            <span>Updated At: {{ order.updatedAt }}</span>
                            <span style="display: inline-block; padding: 5px 20px; width: 120px; text-align: center;"
                                class="
                                    {% if order.status == 'Completed' %}
                                        bg-success text-light rounded-pill
                                    {% elif order.status == 'Cancelled' %}
                                        bg-danger text-light rounded-pill
                                    {% elif order.status == 'Processing' %}
                                        bg-warning text-dark rounded-pill
                                    {% elif order.status == 'Shipped' %}
                                        bg-info text-light rounded-pill
                                    {% elif order.status == 'Ready' %}
                                        bg-info text-light rounded-pill
                                    {% elif order.status == 'Pending' %}
                                        bg-secondary text-light rounded-pill
                                    {% endif %}
                                ">{{ order.status }}</span>
                        </div>                         
                    </div>
                </div>
                {% endfor %}
            </div>  
        </div>      
    </body>
</html>