<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin - Sale</title>
    </head>
    <body>
        {% include "/admin/index.html" %}
        <div class="container my-5">
            <h1 class="text-primary">Transactions</h1>
        
            <!-- Search Form -->
            <div class="d-flex align-items-center my-3">
                <form class="d-flex w-100 align-items-center" action="/admin/transaction" method="get">
                    <div class="flex-grow-1 me-2">
                        <input type="text" class="form-control" name="searchPayment" placeholder="Search" value="{{ request.args.get('searchPayment', '') }}">
                    </div>
                    <button class="btn btn-outline-primary d-flex align-items-center me-2 px-3" type="submit" name="btnSearch">
                        <i class="fa fa-search me-2"></i>Search
                    </button>
                </form>
            </div>
        
            <!-- Transactions Table -->
            <table class="table table-striped table-hover">
                <thead class="table-light">
                    <tr>
                        <th>Payment ID</th>
                        <th>Order ID</th>
                        <th>Date of Payment</th>
                        <th>Amount</th>
                        <th>Method of Payment</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for payment in payment %}
                        <tr>
                            <td>{{ payment.paymentID }}</td>
                            <td>{{ payment.orderID }}</td>
                            <td>{{ payment.paymentDate }}</td>
                            <td>{{ payment.amount }}</td>
                            <td>{{ payment.paymentMethod }}</td>
                            <td>{{ payment.status }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>                  
    </body>
</html>