<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin - Sale</title>
    </head>
    <body>
        {% include "/admin/index.html" %}
        <div class="container my-5">
            <h1 class="text-primary">Sale</h1>
        
            <form action="/admin/transaction" method="get">
                <div class="d-flex w-100 align-items-center my-3">
                    <!-- Search Form -->
                    <div class="flex-grow-1 me-2">
                        <input type="text" class="form-control" name="searchPayment" placeholder="Search a payment"
                            value="{{ request.args.get('searchPayment', '') }}">
                    </div>
                    <button class="btn btn-outline-primary d-flex align-items-center me-2 px-3" type="submit" name="btnSearch">
                        <i class="bi bi-search me-2"></i> Search
                    </button>
                </div>
            
                <div class="my-3 text-start">
                    <button type="submit" name="searchStatus" value="" class="btn btn-outline-primary">All</button>
                    <button type="submit" name="searchStatus" value="completed" class="btn btn-outline-primary">Completed</button>
                    <button type="submit" name="searchStatus" value="refunded" class="btn btn-outline-primary">Refunded</button>
                    <button type="submit" name="searchStatus" value="pending" class="btn btn-outline-primary">Pending</button>
                    <button type="submit" name="searchStatus" value="received" class="btn btn-outline-primary">Received</button>
                </div>
            </form>
        
            <!-- Transactions Table -->
            <div class="table-responsive">
                <table class="table table-border table-hover">
                    <thead class="table-light">
                        <tr>
                            <th>Payment ID</th>
                            <th>Order ID</th>
                            <th>Date of Payment</th>
                            <th>Amount</th>
                            <th>Method of Payment</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for payment in payment %}
                        <form method="POST" action="/admin/transaction">
                            <tr>
                                <td>{{ payment.paymentID }}</td>
                                <td>{{ payment.orderID }}</td>
                                <td>{{ payment.paymentDate }}</td>
                                <td>{{ payment.amount }}</td>
                                <td>{{ payment.paymentMethod }}</td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <select name="status" class="form-select form-select-sm rounded-pill w-auto me-2">
                                            <option value="Completed" {% if payment.status == 'Completed' %}selected{% endif %}>Completed</option>
                                            <option value="Cancelled" {% if payment.status == 'Refunded' %}selected{% endif %}>Refunded</option>
                                            <option value="Received" {% if payment.status == 'Received' %}selected{% endif %}>Received</option>
                                            <option value="Pending" {% if payment.status == 'Pending' %}selected{% endif %}>Pending</option>
                                        </select>
                                        <button class="btn btn-sm btn-outline-success hover-effect" name="btnsave" value="{{payment.paymentID}}">
                                            <i class="bi bi-save"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </form>
                        {% endfor %}
                    </tbody>
                </table>
            </div>            
        </div>                  
    </body>
</html>