<style>
    .carousel-inner {
        max-height: 400px;
        padding-bottom: 50px;
        overflow: hidden;
    }
</style>
<div id="productCarousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        {% for group in product|batch(3) %}
        <button type="button" data-bs-target="#productCarousel" data-bs-slide-to="{{ loop.index0 }}" class="{% if loop.first %}active{% endif %}" aria-current="{% if loop.first %}true{% endif %}" aria-label="Slide {{ loop.index }}"></button>
        {% endfor %}
    </div>
    <div class="carousel-inner">
        {% for group in product|batch(3) %}
        <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
            <div class="row justify-content-center">
                {% for product in group %}
                <div class="col-md-3 card mx-2 mb-3 card-wrapper card-hover" data-category="{{ product.categoryID }}" data-parent-category="{{ product.parentCategoryID }}" data-product-id="{{ product.productID }}" data-context="main">
                    {% if product.img is none %}
                    <img src="/static/images/gambar.jpg" alt="{{ product.productName }}" class="card-img-top">
                    {% else %}
                    <img src="{{ url_for('static', filename=product.img.replace('\\', '/')) }}" alt="{{ product.productName }}" class="card-img-top">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title product-card-title" style="cursor: pointer;">{{ product.productName }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <h5><strong>RM{{ product.price }}</strong></h5>
                            {% if product.img is none %}
                            <button class="btn btn-primary add-to-cart-btn" data-name="{{ product.productName }}" data-price="{{ product.price }}" data-quantity="{{ product.quantity }}" data-img="/static/images/gambar.jpg">Add to cart</button>
                            {% else %}
                            <button class="btn btn-primary add-to-cart-btn" data-name="{{ product.productName }}" data-price="{{ product.price }}" data-quantity="{{ product.quantity }}" data-img="{{ url_for('static', filename=product.img.replace('\\', '/')) }}">Add to cart</button>
                            {% endif %}

                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>