<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="{{ url_for('static', filename='js/add-to-cart.js') }}"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <title>Shop Homepage - Kidocode</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet">
        <link href="{{ url_for('static', filename='images/kidocode_symbol_logo.png') }}" rel="icon" type="image/x-icon">
        <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-xxl">
                <a href="{{ url_for('user.homepage') if session.get('email') else url_for('home') }}" class="nav-brand fs-4 text-decoration-none">
                    <img src="{{ url_for('static', filename='images/kidocode_logo.png') }}" alt="kidocode-logo" width="191.375" class="d-inline-block align-top img-s">
                    Shop
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarContent">
                    <ul class="navbar-nav mx-auto text-center fs-6">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('all_products') }}">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('trackOrder') }}" >Track Order</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact Us</a>
                        </li>
                    </ul>
                    <div class="d-flex ms-auto align-items-center">
                        {% if not first_name %}
                        <a href="{{ url_for('login') }}" class="btn btn-outline-secondary me-3">
                            <i class="bi bi-person-fill"></i>
                        </a>
                        {% else %}
                        <div class="dropdown me-3">
                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-person-fill"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                                <li><a class="dropdown-item" href="{{ url_for('user.profile') }}">Welcome, {{ first_name }}</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('user.logout') }}">Sign Out</a></li>
                            </ul>
                        </div>
                        {% endif %}
                        <a href="#" id="cart-icon" class="btn btn-outline-primary position-relative" data-bs-toggle="offcanvas" data-bs-target="#cartOffcanvas" aria-controls="cartOffcanvas">
                            <i class="bi bi-basket"></i>
                            <span id="cart-count" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                0
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container mt-5">
            <h2 class="text-center">Track Your Order</h2>
        
            <!-- Order Tracking Form -->
            <form method="POST" class="mt-4">
                <div class="mb-3">
                    <label for="order_ids" class="form-label">Enter Order ID(s):</label>
                    <input type="text" class="form-control" id="order_ids" name="order_ids" placeholder="Enter comma-separated Order IDs (e.g., ORD123, ORD456)">
                </div>
                <button type="submit" class="btn btn-primary">Track Order</button>
            </form>
        
            {% if order_details %}
                <h3 class="mt-4">Order Details</h3>
                <div class="accordion" id="ordersAccordion">
                    {% for order_detail in order_details %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-{{ order_detail.order.orderID }}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ order_detail.order.orderID }}" aria-expanded="false" aria-controls="collapse-{{ order_detail.order.orderID }}">
                                Order ID: {{ order_detail.order.orderID }}
                            </button>
                        </h2>
                        <div id="collapse-{{ order_detail.order.orderID }}" class="accordion-collapse collapse" aria-labelledby="heading-{{ order_detail.order.orderID }}" data-bs-parent="#ordersAccordion">
                            <div class="accordion-body">
                                <p><strong>Status:</strong> {{ order_detail.order.status }}</p>
                                <p><strong>Shipping Method:</strong> {{ order_detail.order.shippingMethod }}</p>
                                <p><strong>Pickup Location:</strong> {{ order_detail.order.pickupBranch or 'Not applicable' }}</p>
                                <p><strong>Shipping Address:</strong> {{ order_detail.order.shippingAddress or 'Not applicable' }}</p>
                                <p><strong>Date:</strong> {{ order_detail.order.createdAt.strftime('%d %b %Y %I:%M %p') }}</p>
                                <h5>Products</h5>
                                <table class="table mt-3">
                                    <thead>
                                        <tr>
                                            <th>Product Name</th>
                                            <th>Quantity</th>
                                            <th>Price (RM)</th>
                                            <th>Total (RM)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in order_detail.order_items %}
                                        <tr>
                                            <td>{{ item.product.productName }}</td>
                                            <td>{{ item.quantity }}</td>
                                            <td>{{ item.price }}</td>
                                            <td>{{ item.quantity * item.price }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        
        <div class="offcanvas offcanvas-end" id="cartOffcanvas" tabindex="-1" aria-labelledby="cartOffcanvasLabel">
            <div class="offcanvas-header">
                <h5 class="cartOffcanvasLabel">Shopping Cart</h5>
                <button class="btn-close" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul id="cart-items" class="list-group"></ul>
                <div class="mt-3">
                    <a href="{{ url_for('checkout') }}" id="btn-checkout" class="btn btn-success w-100">Checkout</a>
                    <a href="{{ url_for('cart') }}" id="btn-viewCart" class="btn btn-link w-100">View Cart</a>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <footer class="footer-container">
            <!-- Single top line -->
            <div class="footer-top-line text-center"></div>
            <!-- Logo and description -->
            <div class="container text-center text-md-start">
                <div class="row">
                    <div class="col-md-3 footer-logo mb-4">
                        <a href="https://www.kidocode.com/">
                            <img src="{{ url_for('static', filename='images/kidocode_logo.png') }}" alt="Kidocode Logo">
                        </a>
                        <p class="footer-description">
                            Kidocode is a school of technology and entrepreneurship for K-12 students. Our community is driven to rebuild the education system for the modern era with a combination of AI-empowered tools, top-notch educators, and in-demand campus facilities.
                        </p>
                    </div>
                    <!-- Discovery column -->
                    <div class="col-md-2 footer-section mx-auto mb-3">
                        <h5>Discovery</h5>
                        <p><a href="#!" class="text-reset">Cubie</a></p>
                        <p><a href="#!" class="text-reset">Community</a></p>
                        <p><a href="#!" class="text-reset">Internship</a></p>
                    </div>
                    <!-- About column -->
                    <div class="col-md-2 footer-section mx-auto mb-3">
                        <h5>About</h5>
                        <p><a href="#!" class="text-reset">Help</a></p>
                        <p><a href="#!" class="text-reset">Shipping</a></p>
                        <p><a href="#!" class="text-reset">Gallery</a></p>
                    </div>
                    <!-- Info column -->
                    <div class="col-md-2 footer-section mx-auto mb-3">
                        <h5>Info</h5>
                        <p><a href="#!" class="text-reset">Contact us</a></p>
                        <p><a href="#!" class="text-reset">Privacy Policies</a></p>
                        <p><a href="#!" class="text-reset">Terms & Conditions</a></p>
                    </div>
                </div>
            </div>
            <!-- Bottom line above copyright -->
            <div class="footer-bottom-line text-center"></div>
            <!-- Copyright -->
            <div class="footer-bottom text-center">
                <div class="copyright-container">
                    © 2024 Copyright:
                    <a class="text-reset fw-normal text-decoration-none" href="https://www.kidocode.com/">2024 All Rights Reserved. Kidocode Sdn Bhd (1133758-X) | 201501008423(1133758-X)</a>
                </div>
            </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
</html>