<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="/static/js/add-to-cart.js"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <link rel="icon" type="image/x-icon" href="/static/images/kidocode_symbol_logo.png">
        <title>Shop Contact - Kidocode</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet">
        <link href="/static/css/main.css" rel="stylesheet">
    </head>
    <body>
        <div class="main-wrapper d-flex flex-column min-wh-100">
            <div class="content flex-grow-1">
                {% include 'navbar.html' %}
                <div class="container info-container">
                    <h2 class="title mt-5">Find us here</h2>
                    <h3>shop@kidocode.com</h3>
                    <h4>General Inquiries</h4>
                    <h4>+60122020748 Mon to Fri: 10am - 6pm</h4>
                    <h4>Sales Team</h4>
                    <h4>+60122020797 Mon to Sun: 10am - 7:30pm</h4>
                </div>
                <div class="container map-container my-5">
                    <div class="row g-4">
                        <div class="col-md-6">
                            <div class="card map-card">
                                <div class="card-body">
                                    <h4 class="card-title">Kidocode KL</h4>
                                    <p class="card-text">L-5-1, Solaris Mont Kiara, Jalan Solaris, Off Jalan Duta Kiara, 50480, Kuala Lumpur, Malaysia</p>
                                </div>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3983.688473023436!2d101.65996969999999!3d3.1764463000000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cc488a20727627%3A0xabc822fc0bbfdc61!2sKidocode!5e0!3m2!1sen!2smy!4v1737345224342!5m2!1sen!2smy" style="border:0; width:100%; height:200px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card map-card">
                                <div class="card-body">
                                    <h4 class="card-title">Kidocode Selangor</h4>
                                    <p class="card-text">A-1-6, Sunway Nexis, Jalan PJU5/1, Kota Damansara, Petaling Jaya 47810, Selangor, Malaysia</p>
                                </div>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3983.7852305607807!2d101.59233667377477!3d3.151270653142111!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cc4edfb1fb4069%3A0x3c1dec74cf6d095f!2sSunway%20Nexis%20Mall!5e0!3m2!1sen!2smy!4v1737351079757!5m2!1sen!2smy" style="border:0; width:100%; height:200px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card map-card">
                                <div class="card-body">
                                    <h4 class="card-title">Kidocode Penang North</h4>
                                    <p class="card-text">C-2-2, Vantage, Jalan Desiran Tanjung, 10470, Pulau Pinang, Malaysia</p>
                                </div>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d496.4670051753669!2d100.30743161761015!3d5.4569730782405195!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x304ac389ada32ac9%3A0xcdf6fb764a2e263e!2sKidocode!5e0!3m2!1sen!2smy!4v1737351596438!5m2!1sen!2smy" style="border:0; width:100%; height:200px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card map-card">
                                <div class="card-body">
                                    <h4 class="card-title">Kidocode Penang South</h4>
                                    <p class="card-text">3-1-2, Queens Residences Q2, Jalan Bayan Indah, 11900, Bayan Lepas, Pulau Pinang, Malaysia</p>
                                </div>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3972.544077580325!2d100.30976109999999!3d5.3335626!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x304ac1c7e46676a7%3A0xb7eb0a65124d03a6!2sQueens%20Residences%20Q2!5e0!3m2!1sen!2smy!4v1737351256402!5m2!1sen!2smy" style="border:0; width:100%; height:200px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'footer.html' %}
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
</html>
