<footer class="footer-container">
    <!-- Single top line -->
    <div class="footer-top-line text-center"></div>
    <!-- Logo and description -->
    <div class="container text-center text-md-start">
        <div class="row">
            <div class="col-md-3 footer-logo mb-4">
                <a href="https://www.kidocode.com/">
                    <img src="{{ url_for('static', filename='images/kidocode_logo.png') }}" alt="Kidocode Logo">
                </a>
                <p class="footer-description">
                    Kidocode is a school of technology and entrepreneurship for K-12 students. Our community is driven to rebuild the education system for the modern era with a combination of AI-empowered tools, top-notch educators, and in-demand campus facilities.
                </p>
            </div>
            <!-- Discovery column -->
            <div class="col-md-2 footer-section mx-auto mb-3">
                <h5>Discovery</h5>
                <p><a href="#!" class="text-reset">Cubie</a></p>
                <p><a href="#!" class="text-reset">Community</a></p>
                <p><a href="#!" class="text-reset">Internship</a></p>
            </div>
            <!-- About column -->
            <div class="col-md-2 footer-section mx-auto mb-3">
                <h5>About</h5>
                <p><a href="#!" class="text-reset">Help</a></p>
                <p><a href="#!" class="text-reset">Shipping</a></p>
                <p><a href="#!" class="text-reset">Gallery</a></p>
            </div>
            <!-- Info column -->
            <div class="col-md-2 footer-section mx-auto mb-3">
                <h5>Info</h5>
                <p><a href="#!" class="text-reset">Contact us</a></p>
                <p><a href="#!" class="text-reset">Privacy Policies</a></p>
                <p><a href="#!" class="text-reset">Terms & Conditions</a></p>
            </div>
        </div>
    </div>
    <!-- Bottom line above copyright -->
    <div class="footer-bottom-line text-center"></div>
    <!-- Copyright -->
    <div class="footer-bottom text-center">
        <div class="copyright-container">
            © 2024 Copyright:
            <a class="text-reset fw-normal text-decoration-none" href="https://www.kidocode.com/">2024 All Rights Reserved. Kidocode Sdn Bhd (1133758-X) | 201501008423(1133758-X)</a>
        </div>
    </div>
</footer>