<style>
    .footer-container {
        font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
        background-color: #000000; 
        color: #f5f5f5; 
        border-radius: 0;
        width: 100%;
        padding: 80px 40px;
        font-size: 14px;
        position: relative;
        overflow: hidden;
    }

    .footer-logo img {
        filter: brightness(0) invert(1);
        width: 200px; 
        margin-bottom: 15px;
    }

    .company-description {
        margin-top: 0;
        padding-top: 40px;
        padding-right: 60px;
    }

    .text-block {
        color: #d5d5d5;
        letter-spacing: -.03em;
        font-size: 16px;
        line-height: 26px;
    }

    .footer-section h5 {
        font-weight: bold;
        margin-bottom: 15px;
    }

    .footer-section a {
        color: #f5f5f5;
        text-decoration: none;
        display: block;
        padding: 5px 0;
    }

    .footer-section a:hover {
        color: #cccccc; 
        text-decoration: underline;
    }

    .footer-bottom-line {
        color: #5c5c5c;
        border-top: 1px solid #5c5c5c;
        padding: 30px 0 30px 0;
    }

    .footer-bottom {
        color: #5c5c5c; 
        text-align: right;
        margin-top: 0; 
    }

    .footer-bottom .copyright-container {
        display: inline-block; 
    }

    /* Mobile View Enhancements */
    @media (max-width: 768px) {
        .footer-container {
            text-align: left;
            margin-left: auto;
            margin-right: auto;
            padding: 72px 20px;
        }

        .company-description {
            padding-top: 20px;
            padding-right: 0;
        }

        .footer-top-line, .footer-bottom-line {
            margin-bottom: 10px;
        }

        .footer-section h5 {
            font-size: 1.2rem;
        }

        .footer-section a {
            font-size: 1rem;
        }
    }

    /* Small screen (very mobile devices) */
    @media (max-width: 480px) {
        .footer-logo img {
            width: 150px;
        }

        .company-description {
            padding-top: 20px;
            padding-right: 0;
        }
    }
</style>
<footer class="footer-container">
    <div class="mx-auto position-relative">
        <div class="row">
            <div class="col-md-3 footer-logo mb-3">
                <a href="https://www.kidocode.com/">
                    <img src="{{ url_for('static', filename='images/kidocode_logo.png') }}" alt="Kidocode Logo">
                </a>
                <div class="company-description">
                    <div class="text-block">
                        Kidocode is a school of technology and entrepreneurship for K-12 students. Our community is driven to rebuild the education system for the modern era with a combination of AI-empowered tools, top-notch educators, and in-demand campus facilities.
                    </div>
                </div>
            </div>
            <!-- Discovery column -->
            <div class="col-md-2 footer-section mx-auto">
                <h5>Discovery</h5>
                <a href="#!" class="text-reset">Cubie</a>
                <a href="#!" class="text-reset">Community</a>
                <a href="#!" class="text-reset">Internship</a>
            </div>
            <!-- About column -->
            <div class="col-md-2 footer-section mx-auto">
                <h5>About</h5>
                <a href="#!" class="text-reset">Help</a>
                <a href="#!" class="text-reset">Shipping</a>
                <a href="#!" class="text-reset">Gallery</a>
            </div>
            <!-- Info column -->
            <div class="col-md-2 footer-section mx-auto">
                <h5>Info</h5>
                <a href="#!" class="text-reset">Contact us</a>
                <a href="#!" class="text-reset">Privacy Policies</a>
                <a href="#!" class="text-reset">Terms & Conditions</a>
            </div>
        </div>
    </div>
    <div class="footer-bottom-line"></div>
    <div class="footer-bottom">
        <div class="copyright-container">
            <a class="text-reset fw-normal text-decoration-none" href="https://www.kidocode.com/">© 2025 All Rights Reserved. Kidocode Sdn Bhd (1133758-X) | 201501008423(1133758-X)</a>
        </div>
    </div>
</footer>